.form__fieldset {
  max-width: 385px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
}
.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button-container {
  display: flex;
  justify-content: center;
  border: 0;
}
.form__button {
  border-radius: 4px;
  max-width: 385px;
  opacity: 100%;
  width: 100%;
  background-color: #2f80ed;
  color: white;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 0;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  border: 0;
  margin-bottom: 120px;
}
