.recipes {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(/images/background_recipes.svg);
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", Times, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  padding-top: 24px;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__video {
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 0;
}

.recipes__video-item {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 40px;
}

.recipes__iframe {
  border: 0;
}

.recipes__video-caption {
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 215px;
}

.recipes__video-caption-time {
  float: right;
}
