.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  font-family: "inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  left: 80px;
}
.header__span-accent {
  display: flex;
  font-family: "Noto Serif", Times, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  left: 80px;
}
.header__description {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Noto serif", Times, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  left: 80px;
}
.header__image {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}
.header__timetable {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80px;
  bottom: 40px;
}
.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}
.header__address {
  display: flex;
  position: absolute;
  right: 80px;
  bottom: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  position: relative;
  left: 30px;
  top: 30px;
  margin-bottom: 183px;
  height: 39px;
  width: 105px;
}
.nav__links {
  display: flex;
  margin-right: 80px;
  margin-top: 30px;
  column-gap: 20px;
  list-style-type: none;
}
.nav__link {
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.recipes {
  background-image: url(/images/background_recipes.svg);
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
  margin-bottom: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin-bottom: 215px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.reservation__title {
  padding-top: 100px;
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form__fieldset {
  max-width: 385px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
}
.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button-container {
  display: flex;
  justify-content: center;
  border: 0;
}
.form__button {
  border-radius: 4px;
  max-width: 385px;
  opacity: 100%;
  width: 100%;
  background-color: #2f80ed;
  color: white;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 0;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  border: 0;
  margin-bottom: 120px;
}
